<h1>COMMANDE</h1>



  

            <p>titre: <%=@book.name%> </p>
        
            <p>description:<br/>
            <%=@book.description%></p>
              <p>Prix: <%=@book.price%> €</p>

                   
   
