<h1>Acceuils#index</h1>

<h2> <center>Tonga soa eto Aminay</center></h2>
<p>Find me in app/views/acceuils/index.html.erb</p>
<%= link_to  "Prendre une COMMANDE", show_commande_path, class:"btn btn-primary" %>