
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
        <h1>Tongasoa, eto am tambazotra SeraSera</h1>
        <p>
          Voarakitra eto @ tambazotra ny compte-nao,<br>
          izay mitondra ny anaran'ny tranokalam-pifandraisana : <%= @client.email %>
        </p>
        <p>
          Araho ity tondro-zotra ity: <%= @url %>, raha te-hiditra @ compte-nao ianao.
        </p>
        <p>Mankasitraka niditra ho mpikambana, Mirary tontolo andro mahafinaritra ho anao!</p>
        <img src="‎http://www.mada-iradio.com/upload/podcasts/photos/main/586b69005e8361.10992170_mini.jpg?=1572788780">
  </body>
</html>