.affiche{
    border-style: solid;
    border-width: 1px;
    border-radius: 30px;
 
    position: relative;


    position: relative;
    right: -920px;
    top: -2170px;
 }

 .affiche1{
  
 
    position: relative;


    position: relative;
    right: -920px;
    top: -2170px;
 }
